<%- include('../layouts/header', { titulo: 'Reserva Confirmada' }) %>

<%- include('../layouts/navbar') %>

<div class="container py-5 text-center">

    <h1 class="mb-4">
        Reserva registrada correctamente
    </h1>

    <p>
        Gracias por reservar con Barber Style.
    </p>

    <a href="/" class="btn btn-dark">
        Volver al inicio
    </a>

</div>

<%- include('../layouts/footer') %>